:root {
	--clr-white: #fff;

	--clr-grey: #f8f8f8;
	--clr-grey1: #333;
	--clr-grey2: #4f4f4f;
	--clr-grey3: #828282;

	--clr-blue: #2f80ed;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	background: var(--clr-grey);
	color: var(--clr-grey3);
}
a {
	color: var(--clr-blue);
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 12px;
}

.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
	padding: 2em 0;
}

.grid {
	display: grid;
	grid-template-areas:
		'profile frontend design'
		'profile projects-bar projects-bar'
		'profile recipe recipe'
		'expr gallery gallery'
		'expr checkout checkout'
		'hobby design-bar design-bar'
		'hobby blog blog'
		'hobby';
	gap: 2em;
}

/* .profile-card {
	grid-area: profile;
}
.frontend-card {
	grid-area: frontend;
}
.design-card {
	grid-area: design;
}
.experience-card {
	grid-area: expr;
}
.hobbies-card {
	grid-area: hobby;
}
.projects-bar-card {
	grid-area: projects-bar;
}
.recipe-card {
	grid-area: profile;
}
.gallery-card-card {
	grid-area: gallery;
}

.blogs-bar-card {
	grid-area: blogs-bar;
}
.blog-card {
	grid-area: blog;
}
.-card {
	grid-area: ;
}
.-card {
	grid-area: ;
}
.-card {
	grid-area: ;
} */

/* all cards */
.card {
	background: var(--clr-white);
	padding: 1em;
	border-radius: 12px;
	box-shadow: -1px 14px 32px -22px rgba(0, 0, 0, 0.8);
}
/* profile */

.profile-card {
	/* display: flex;
	flex-direction: column; */
}

.profile-img {
	/* width: 250px; */
}

.profile-name {
	font-weight: 600;
	font-size: 24px;
	color: var(--clr-grey2);
	margin-bottom: 0;
}

.name-info {
	color: var(--clr-grey3);
	margin: 0;
}

.email,
.phone {
	color: var(--clr-grey2);
}

.email-para {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	gap: 1em;
}

.phone-para {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-top: 0;
}

.profile-text {
	color: var(--clr-grey3);
	max-width: 25ch;
	margin-bottom: 0;
}

/* skills section */
.stat-card {
	display: flex;
	justify-content: space-between;
}

.card-title {
	font-weight: 700;
	font-size: 18px;
	color: var(--clr-grey2);
}

.tech {
	font-size: 16px;
	font-weight: 500;
	color: var(--clr-grey2);
	margin-bottom: 0;
}

/* experience card */
.exp-card {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	margin-top: 2em;
}

.exp-title {
	font-size: 16px;
	font-weight: 600;
	color: var(--clr-grey1);
	margin-top: 0;
}

.exp-text {
	font-size: 16px;
	margin-top: 1.5em;
	margin-bottom: 0;
	max-width: 25ch;
}

.fa-google-wallet {
	color: #3a81f1;
}

.fa-cc-stripe {
	color: #6b71e3;
}

.fa-discord {
	color: #7289da;
}

.date {
	color: var(--clr-grey2);
	font-size: 14px;
}
/* hobby section */
.hobb-card {
	margin-top: 2em;
}

.hobb-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.hobb-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: var(--clr-grey3);
}

.hobb-img {
	width: 369px;
}
.blogs-bar-card .bar,
.projects-bar-card .bar {
	margin: 0px;
	font-size: 18px;
	font-weight: 500;
	color: var(--clr-grey2);
}

/* projects section */
.projects-img {
	width: 322px;
	margin-bottom: 1em;
}

.tag {
	font-size: 16px;
	color: var(--clr-grey2);
}

.tag + .tag {
	margin-left: 0.5em;
}

.card-info {
	font-size: 16px;
	max-width: 43ch;
}

.btn {
	display: inline-block;
	padding: 0.5em 2em;
	border: 1px solid var(--clr-blue);
	border-radius: 12px;
	cursor: pointer;
	margin-top: 1.5em;
}

.btn-primary {
	background: var(--clr-blue);
	color: var(--clr-white);
}

.btn + .btn {
	margin-left: 0.4em;
}

/* blog section */
.blog-upper-text {
	color: #e0e0e0;
	font-size: 16px;
}

.card-text {
	font-size: 16px;
}

.blog-img {
	width: 400px;
}

footer {
	text-align: center;
	margin-bottom: 0;
}
